{% extends "admin/base.html" %}
{% block content %}
<div class="container mt-4">
  <h3 class="mb-4">Admin Dashboard</h3>
  <div class="row">
    <div class="col-md-3">
      <a href="{{ url_for('admin_bp.list_teachers') }}" class="card text-center">
        <div class="card-body">
          <h5>{{ teacher_count }}</h5>
          <p>Teachers</p>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_bp.list_students') }}" class="card text-center">
        <div class="card-body">
          <h5>{{ student_count }}</h5>
          <p>Students</p>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_bp.list_classes') }}" class="card text-center">
        <div class="card-body">
          <h5>{{ class_count }}</h5>
          <p>Classes</p>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_bp.dashboard') }}" class="card text-center">
        <div class="card-body">
          <h5>{{ subject_count }}</h5>
          <p>Subjects</p>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{ url_for('admin_bp.gallery') }}" class="card text-center">
        <div class="card-body">
          <h5>77</h5>
          <p>Gallery</p>
        </div>
      </a>
    </div>
  </div>
</div>
<br>
<div style="align-items: baseline;">
  <p>Sir, PLease Don't go any route. Only go to gallery to upload new gallery items</p>
</div>
{% endblock %}
