{% extends 'base.html' %}
{% block title %}Accreditation : Palashbaria Secondary School{% endblock %}
{% block content %}

<div class="page-container">
  <div class="page-header">
    <h1 style="color: black;">Our Accriditations</h1>
  </div>

  <div class="filter-container">
    <input type="text" id="filter-input" class="filter-input" placeholder=" Search by name...">
  </div>

  <div class="content-grid" id="mpo-grid">
    {% for mpo in mpo_items %}
      <a href="{{ url_for('mpo_detail', idx=loop.index0) }}" class="content-card person-card">
        <div class="person-image-wrapper">
          <img src="{{ url_for('static', filename='images/mpos/' + mpo.filename) }}" alt="{{ mpo.title }}">
        </div>
        <div class="person-info">
          <h3>{{ mpo.title }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
  <p id="no-results-message">No files found with that name.</p>
</div>
{% endblock %}
