{% extends 'base.html' %}
{% block title %}Manage News : Palashbaria Secondary School{% endblock %}
{% block content %}
<div class="admin-form">
  <h2>Manage News</h2>
  <form method="post">
    <div class="form-group">
      <label>Password:</label>
      <input type="password" name="password" required>
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" name="title" >
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea name="description" rows="4" ></textarea>
    </div>
    <div class="form-actions">
      {% if last %}
        <button type="submit" name="action" value="delete" class="btn btn-danger">Delete Last News</button>
      {% endif %}
      <button type="submit" name="action" value="post" class="btn btn-primary">Post News</button>
    </div>
  </form>
</div>
<div>
  <p>
    -
  </p>
</div>
<h1>All News</h1>
    <div class="news-grid glass-card" style="background-color: rgba(200, 249, 225, 0.712);">
      {% for news in last %}
          <a href="{{ url_for('news_detail', idx=loop.index0) }}">

          <h3 style="color: black;">{{ news.title }}</h3>
          <!-- Optionally an image if you have one in news.json -->
          <small>{{ news.timestamp[:10] }}</small>
        </a>
      {% else %}
        <p>No news yet.</p>
      {% endfor %}
    </div>

{% endblock %}
