{% extends 'base.html' %}
{% block title %}News : Palashbaria Secondary School{% endblock %}
{% block content %}
<div class="page-header" >
    <h1 style="color: rgba(0, 0, 0, 0.622);">All News</h1>
  </div>
<div class="page-container">
  <div class="content-grid">
    {% for news in news_items %}
      <a href="{{ url_for('news_detail', idx=loop.index0) }}" class="content-card news-card">
        <h3>{{ news.title }}</h3>
        <small>Published: {{ news.timestamp[:10] }}</small>
      </a>
    {% else %}
      <p>No news has been published yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}