

{% extends 'base.html' %}
{% block title %}routine : Palashbaria Secondary School{% endblock %}
{% block content %}
<div class="page-header" >
    <h1 style="color: rgb(46, 35, 24);">Published routine</h1>
    <div class="content-grid">
    {% for r in routine_items %}
      <div class="content-card result-card">
        <h3>{{ r.title }}</h3>
        <small style="color: rgba(255, 255, 255, 0.663);">Uploaded: {{ r.timestamp[:10] }}</small>
        <p>{{ r.description }}</p>
        <a href="{{ url_for('static', filename='files/routine/' ~ r.filename) }}" target="_blank" class="btn-download">
          📄 Download / View PDF
        </a>
      </div>
    {% else %}
      <p>No result sheets have been published yet.</p>
    {% endfor %}
  </div>
</div>

<!-- <div class="page-container">
  
</div> -->

{% endblock %}