{% extends 'base.html' %}
{% block title %}Students : Palashbaria Secondary School{% endblock %}
{% block content %}
<div class="page-container">
  <div class="page-header">
    <h1 style="color: rgba(41, 34, 34, 0.796);">Our Students</h1>
  </div>

  <div class="filter-container">
    <input type="text" id="filter-input" class="filter-input" placeholder=" Search by student name...">
  </div>

  <div class="content-grid" id="students-grid">
    {% for student in student_items %}
      <a href="{{ url_for('student_detail', idx=loop.index0) }}" class="content-card person-card">
        <div class="person-image-wrapper">
          <img src="{{ url_for('static', filename='images/students/' + student.filename) }}" alt="{{ student.title }}">
        </div>
        <div class="person-info">
          <h3>{{ student.title }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
  <p id="no-results-message">No students found with that name.</p>
</div>
{% endblock %}